# Build and Release Folders
bin/

# Other files and folders
.settings/


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
.as3proj

# should NOT be excluded as they contain compiler settings and other important

# information for Eclipse / Flash Builder.
obj/
bat/
.bat
.morn
